.App {
    text-align: center;
    font-family: 'Federant', cursive;
}

.body {
    /* height: 100%; */
    margin: 0 !important;
    padding: 0 !important;
}

h1,
h2 {
    font-family: 'Cabin Sketch', cursive;
    font-family: 'Cabin Sketch', cursive;
}

h2 {
    font-size: 4em;
}

.element {
    height: 770px;
    background-color: #ededed;
    font-size: 16px;
    border-top: 1px solid #000;
    padding-top: 55px;
    padding-left: 10px;
    position: relative;
}

p {
    font-size: 1em;
}

.page1 {
    background-color: #194EA8;
    color: white;
}

.myPic {
    max-width: 300px;
    max-height: 350px;
    border: 5px solid rgb(112, 111, 116);
}

.page2 {
    background-color: rgb(248, 218, 69);
}

.page3 {
    background-color: rgb(88, 61, 170);
    color: white;
}

.page3 a {
    color: white;
}

.page3 a:hover {
    color: rgb(248, 218, 69);
}

.skills {
    font-size: 1.8em;
    margin: 10px 0px;
    color: white;
}

.links {
    margin-top: 150px;
}

.skillLink {
    font-size: 1.2em;
    display: inline;
    vertical-align: bottom;
    margin-top: 100px;
}

.page4 {
    background-color: rgb(146, 209, 139);
    color: rgb(112, 111, 116);
}

.page4 a {
    color: rgb(112, 111, 116);
}

.page4 a:hover {
    color: rgb(248, 218, 69);
}

.title {
    margin-bottom: 100px;
}

.contactRow {
    height: 250px;
    max-height: 50%;
}

.active {
    color: #F8DA45;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav-wrapper {
    background-color: black;
}

.card .card-content {
    padding: 0px;
}

.row .col {
    padding: 0px;
}

.card.large {
    margin-top: 0px;
}

.screenshots {
    width: 100%;
    min-height: 500px;
    max-height: 500px;
    height: auto;
    border: 3px solid rgb(88, 61, 170);
}

.description {
    color: rgb(112, 111, 116);
    background-color: white;
    height: 500px;
    padding: 5px;
}

.tabs .tab a {
    color: rgb(88, 61, 170);
}

.tabs .tab a:hover {
    color: #F8DA45;
}

.tabs .tab a.active {
    color: rgb(88, 61, 170);
    font-size: 24px;
    font-family: 'Cabin Sketch', cursive;
}

.back {
    z-index: 0;
}

.small {
    font-size: 0.6em;
}

.linkTitle {
    font-size: 2em;
    margin-right: 2%;
    color: rgb(88, 61, 170);
}

.linkTitle:hover {
    color: #F8DA45;
}